* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100vh;
}

header {
  height: 45%;
}

main {
  height: 70%;
}

.form {

}

.form-item {
    width: 200px;
    margin: 10px;
}

#name-input, #cleanliness-input, #submit-button {
  height: 30px;
}

#form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

#garage-count {
  text-align: center;
}

#garage {
  background-image: url('./garage_door.jpg');
  height: 90%;
  background-repeat: no-repeat;
}

.garage-item {
  margin: 10px;
}

#garage-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#instructions, #garage-items-title, #welcome-title {
  text-align: center;
}

#garage-header-container {
  display: none;
}

.item-details {
  display: none;
}

.garage-item-name {
  display: none;
}

#sort-button {
  width: 200px;
  display: block;
  margin: auto;
}

#reason-input {
  height: 50px;
}
